body {
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 5px rgba(141, 60, 48, 0.846);
}

.avatar {
    width: 150px;
    border-radius: 50%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.avatar:hover {
    border: 3px solid #4242f5;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #f5b042;
    color: #2b2839;
    border-top: 6px solid #4242f5;
    border-bottom: 6px solid #4242f5;
    border-radius: 25px;
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

